@model Form.Models.Dane
<@ViewBag.Message
<h1>Rejestracja zakończona pomyślnie</h1>


Potwierdzam Twoje dane
<br />
Imię: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Numer Telefonu: @Model.NrTelefonu
<br />
Wiek: @Model.Wiek
<br />
Miasto: @Model.Miasto
<br />
Email: @Model.Email
<br />
Temat: @Model.Temat
<br />
Treść: @Model.Tresc
<br />










